<ion-view view-title="{{penca_nome}}" ng-controller="BolaoCtrl">

    <div class="bar bar-subheader sub_head" style="height:85px">
        <div style="text-align:center;width:100%">
            <div style="text-align:center;width:100%">{{bolao.championship.ch_nome}}</div>
            <div style="text-align:center;width:100%">
                Rodada: <select ng-model="bolao.rodada_sel" ng-options="rodada.rd_round for rodada in bolao.rondas" ng-change="trocarrodada(bolao.rodada_sel)"></select>
            </div>
            <div class="row">
                <div class="col" ng-click="activitytab=1" ng-class="{'color_border':activitytab==1}">
                    <p>Jogos</p>
                </div>
                <div class="col" ng-click="activitytab=2" ng-class="{'color_border':activitytab==2}">
                    <p>Participantes</p>
                </div>
                <div class="col" ng-click="activitytab=3" ng-class="{'color_border':activitytab==3}">
                    <p>{{opcoes}}</p>
                </div>
            </div>
        </div>

    </div>
    
    <ion-content class="has-subheader activity_page">
        <div ng-switch on="activitytab" style="margin-top:28px">
            <div>

                <!--ng-click="setPalpite(palpite)"-->

                <div style="height:120px" ng-switch-when="1" ng-repeat="palpite in bolao.rodada" ng-click="editarpalpite(palpite)" href="#/app/detail/">
                    <a class="activity_list">
                        <div class="row main_row" style="height:30px !important">
                            <div class="col col-20">
                            </div>
                            <div class="col col-60" style="text-align:center;"><b style="color:blue">{{palpite.mt_date_show}}</b></div>
                            <div class="col col-20">
                            </div>
                        </div>


                        <div class="row">
                            <div class="col col-30" style="text-align:right">{{palpite.t1nome}}</div>
                            <div class="col col-10"><img width="30" height="30" src="http://www.bolaocraquedebola.com.br{{palpite.tm1_logo}}" /></div>
                            <div class="col col-10" style="text-align:center;font-size:20px"><b>{{palpite.rs_res1}}</b></div>
                            <div class="col col-10" style="text-align:center;font-size:20px"><b>{{palpite.rs_res2}}</b></div>
                            <div class="col col-10"><img width="30" height="30" src="http://www.bolaocraquedebola.com.br{{palpite.tm2_logo}}" /></div>
                            <div class="col col-30">{{palpite.t2nome}}</div>

                        </div>
                        <div class="row" style="font-size:18px;background-color: rgb(2, 110, 211);padding: 0px 0px 0px 0px">
                            <div class="col col-20" style="text-align:center">
                                <!--<ng:switch on="{{palpite.pode_apagar}}">
                                    <div ng:switch-when="true">
                                        <i ng-click="apagar(palpite.rs_id, palpite.ch_id, palpite.rd_id, palpite.mt_id)" class="ion-trash-b" style="color:#fff"></i>
                                    </div>
                                </ng:switch>-->

                                <ng:switch on="{{palpite.no_encerrado}} == false">
                                    <div ng:switch-when="true">
                                        <span class="badge badge-assertive" style="{{palpite.color}};margin-left:-10px;position:absolute;padding: 1px 5px;font-size:10px">{{palpite.mt_goal1}}</span>
                                        <span class="badge badge-assertive" style="{{palpite.color}};margin-left:10px;position:absolute;padding: 1px 5px;font-size:10px">{{palpite.mt_goal2}}</span>
                                    </div>
                                </ng:switch>
                            </div>

                            <div class="col col-20" style="text-align:center" ng-click="setPalpite(palpite)"><i class="ion-social-usd" style="color:#fff"></i></div>
                        </div>
                    </a>
                </div>
                <div ng-switch-when="2" sstyle="padding-top:20px">
                    <ion-list>
                        <ion-item ng-repeat="usuario in usuarios"  style="border-style:none !important">
                            <div class="row" style="padding: 0px 0px 0px 0px; height: 40px">
                                <div class="col">
                                    <div class="col-demo"><b></b></div>
                                </div>
                                <div class="col">
                                    <div style="width:30px;height:30px">
                                        <div class="col-demo"><img width="30" height="30" src="http://www.bolaocraquedebola.com.br/assets/img/usuarios/user2.png" /></div>
                                    </div>
                                </div>
                                <div class="col col-75">
                                    <div class="col-demo">{{usuario.us_username}}</div>
                                </div>
                                <div class="col">
                                    <div class="col-demo">{{usuario.up_puntagem}}</div>
                                </div>
                            </div>
                        </ion-item>
                    </ion-list>
                </div>
                <div ng-switch-when="3">
                    <div style="padding-top:10px">
                        <div style="background-color:rgba(250,250,250,0.70); padding: 15px 15px 15px 15px; font-size:15px;margin-top:10px">
                            <ion-item>
                                <input type="submit" style="margin-top:-10px" href="#" class="button button-block main_btn" value="Sair" ng-click="sair()" />
                            </ion-item>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>