<ion-view view-title="Caixa" cache-view="false" ng-controller="CaixaCtrl">
  
    <div class="bar bar-subheader sub_head">
        Será necessario ingresar ao website.
        http://www.bolaocraquedebola.com.br
    </div>
  <ion-content class="has-subheader activity_page">

        <div>
            <div style="height:125px">
                <a class="activity_list">

                    <div style="margin-top:-10px;color:white">
                        <div class="row main_row" style="height:30px !important;background:grey !important">
                            <div class="col" style="text-align:center;font-size:17px">Plano Básico</div>
                        </div>
                        <div class="row main_row" style="height:30px !important;background:grey !important">
                            <div class="col" style="text-align:center;">Custo: R$ 10.80</div>
                        </div>
                        <div class="row main_row" style="height:30px !important;background:grey !important">
                            <div class="col" style="text-align:center;">Crédito: R$ 10.00</div>
                        </div>
                        <div class="row main_row" style="height:30px !important;background:grey !important;align-content:center">
                            <div class="col text-center">
                                <input type="button" value="Selecionar" style="background:green;border:0px none;color:white" onclick="window.open('http://www.bolaocraquedebola.com.br', '_blank')" />
                            </div>
                        </div>

                    </div> 

                    <div class="" style="height:10px !important">
                        <div class="col" style="text-align:center;"></div>
                    </div> 
                    
                    <div style="color:white">
                        <div class="row main_row" style="height:30px !important;background:grey !important">
                            <div class="col" style="text-align:center;font-size:17px">Plano Standar</div>
                        </div>
                        <div class="row main_row" style="height:30px !important;background:grey !important">
                            <div class="col" style="text-align:center;">Custo: R$ 21.20</div>
                        </div>
                        <div class="row main_row" style="height:30px !important;background:grey !important">
                            <div class="col" style="text-align:center;">Crédito: R$ 20.00</div>
                        </div>
                        <div class="row main_row" style="height:30px !important;background:grey !important;align-content:center">
                            <div class="col text-center">
                                <input type="button" value="Selecionar" style="background:green;border:0px none;color:white" onclick="window.open('http://www.bolaocraquedebola.com.br', '_blank')" />
                            </div>
                        </div>
                    </div>

                    <div class="" style="height:10px !important">
                        <div class="col" style="text-align:center;"></div>
                    </div> 
                    
                    <div style="color:white">
                        <div class="row main_row" style="height:30px !important;background:grey !important">
                            <div class="col" style="text-align:center;font-size:17px">Plano Premium</div>
                        </div>
                        <div class="row main_row" style="height:30px !important;background:grey !important">
                            <div class="col" style="text-align:center;">Custo: R$ 52.40</div>
                        </div>
                        <div class="row main_row" style="height:30px !important;background:grey !important">
                            <div class="col" style="text-align:center;">Crédito: R$ 50.00</div>
                        </div>
                        <div class="row main_row" style="height:30px !important;background:grey !important">
                            <div class="col" style="text-align:center;">1 palpite de brinde</div>
                        </div>
                        <div class="row main_row" style="height:30px !important;background:grey !important;align-content:center">
                            <div class="col text-center">
                                <input type="button" value="Selecionar" style="background:green;border:0px none;color:white" onclick="window.open('http://www.bolaocraquedebola.com.br', '_blank')" />
                            </div>
                        </div>
                    </div>

                    <div class="" style="height:10px !important">
                        <div class="col" style="text-align:center;"></div>
                    </div> 
                    
                    <div style="color:white">
                        <div class="row main_row" style="height:30px !important;background:grey !important">
                            <div class="col" style="text-align:center;font-size:17px">Plano Profissional</div>
                        </div>
                        <div class="row main_row" style="height:30px !important;background:grey !important">
                            <div class="col" style="text-align:center;">Custo: R$ 104.40</div>
                        </div>
                        <div class="row main_row" style="height:30px !important;background:grey !important">
                            <div class="col" style="text-align:center;">Crédito: R$ 100.00</div>
                        </div>
                        <div class="row main_row" style="height:30px !important;background:grey !important">
                            <div class="col" style="text-align:center;">3 palpites de brinde</div>
                        </div>
                        <div class="row main_row" style="height:30px !important;background:grey !important;align-content:center">
                            <div class="col text-center">
                                <input type="button" value="Selecionar" style="background:green;border:0px none;color:white" onclick="window.open('http://www.bolaocraquedebola.com.br', '_blank')" />
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>   
  </ion-content>
</ion-view>
