<ion-view view-title="Caixa" cache-view="false" ng-controller="CaixaCtrl">
  
    <div class="bar bar-subheader sub_head" style="text-align:center">
        <div class="row" style="text-align:center">
            <div style="text-align:center;width:100%">
                {{transacoesseguras}}
            </div>
        </div>
    </div>

  <ion-content class="has-subheader activity_page">
      <ion-item>
          <div class="list" style="margin-top:10px">
              <input type="submit" style="margin-top:-10px" href="#" class="button button-block main_btn" value="Adicionar Saldo" ng-click="open()" />
          </div>
      </ion-item>
        <div>
            <div style="height:125px">
                <a class="activity_list">


                    <ion-item>
                        <ion-avatar item-left>
                            <i class=""></i>
                        </ion-avatar>
                        Plano Básico
                        <p>Custo: R$ 10.80  Crédito: R$ 10.00</p>
                    </ion-item>
                    <ion-item>
                        <ion-avatar item-left>
                            <i class="icon ion-ios-football"></i>
                        </ion-avatar>
                        Plano Standar
                        <p style="margin: 0px 0px 0px 0px !important">Custo: R$ 21.20  Crédito: R$ 20.00</p>
                        <p style="margin: 0px 0px 0px 0px !important">Bonus: R$ 10.00 </p>
                    </ion-item>
                    <ion-item>
                        <ion-avatar item-left>
                            <i class="ion-ribbon-b"></i>
                        </ion-avatar>
                        Plano Premium
                        <p style="margin: 0px 0px 0px 0px !important">Custo: R$ 52.40  Crédito: R$ 50.00</p>
                        <p>Bonus: R$ 20.00 </p>
                    </ion-item>
                    <ion-item>
                        <ion-avatar item-left>
                            <i class="ion-trophy"></i>
                        </ion-avatar>
                        Plano Profissional
                        <p style="margin: 0px 0px 0px 0px !important">Custo: R$ 104.40  Crédito: R$ 100.00</p>
                        <p>Bonus: R$ 30.00 </p>
                    </ion-item>

                </a>
            </div>
        </div>   
  </ion-content>
</ion-view>
