<ion-view view-title="Palpitar" ng-controller="JogoCtrl">

    <div class="bar bar-subheader sub_head">
        <div class="row">
            <!--<div class="col" ng-click="active_icon('fav')" ng-class="{'animated zoomIn color_btn':coloractive_fav}">
                <i class="ion-bookmark"></i>
            </div>-->
            <div class="col" href="#/app/detail/" ng-click="ranking_campeonato(ch_id)">
                <i class="ion-trophy"></i>
            </div>
            <div class="col" href="#/app/detail/" ng-click="ranking_rodada(ch_nome, ch_id, mt_round, mt_idround)" >
                <i class="ion-ribbon-b"></i>
            </div>
            <!--<div class="col" ng-click="active_icon('share')">
                <i class="ion-android-share-alt"></i>
            </div>-->
        </div>
    </div>

    <ion-content class="detail_page padding has-subheader" style="background: url('../img/soccer.jpg') no-repeat center;">  
        <div class="det_cont" style="background-color:rgba(250,250,250,0.58);">
            <div ng-model="mt_id" style="display:none">
                {{mt_id}}
            </div>
            <div ng-model="mt_idround" style="display:none">
                {{mt_idround}}
            </div>
            <div ng-model="ch_id" style="display:none">
                {{ch_id}}
            </div>
            <div class="row main_row" style="height:70px">
                <div class="col col-20">
                    <div class="activ_image" style="margin-right:20px;margin-top:5px;float:right;width:75%;
                     height:35px;background:url(http://www.bolaocraquedebola.com.br/{{tm1_logo}})no-repeat;
                                    background-size:100% 100%;">
                    </div>
                </div>
                <div class="col col-70">
                    <div class="" style="padding-top:10px; margin-left:-10px;font-size:18px">

                        {{t1nome}}
                    </div>
                </div>
                <div class="col col-30">
                    <label class="item item-input" style="margin-bottom:10px">
                        <input type="number" ng-value="rs_res1" placeholder="" name="rs_res1" ng-model="rs_res1">
                    </label>
                </div>
            </div>
            <div class="row main_row" style="height:70px">
                <div class="col col-20">
                    <div class="activ_image" style="margin-right:20px;margin-top:5px;float:right;width:75%;
                     height:35px;background:url(http://www.bolaocraquedebola.com.br/{{tm2_logo}})no-repeat;
                                    background-size:100% 100%;">
                    </div>
                </div>
                <div class="col col-70">
                    <div class="" style="padding-top:10px; margin-left:-10px;font-size:18px">
                        {{t2nome}}
                    </div>
                </div>
                <div class="col col-30">
                    <label class="item item-input" style="margin-bottom:10px">
                        <input type="number" ng-value="rs_res2" placeholder="" name="rs_res2" ng-model="rs_res2">
                    </label>
                </div>
            </div>
            <div>
                <ng:switch on="{{no_encerrado}}">
                    <div ng:switch-when="true">
                        <input type="submit" style="margin-top:-10px" href="#" class="button button-block main_btn" value="Palpitar" ng-click="realizar_palpite(rs_res1, rs_res2, mt_id, mt_idround, ch_id)" /> 
                    </div>
                </ng:switch>
            </div>
        </div>      

            <div style="background-color:rgba(250,250,250,0.70); padding: 15px 15px 15px 15px; font-size:15px;margin-top:10px">

                <p><b><i class="icon ion-calendar" style="padding-right:10px;font-size:18px"></i>{{mt_date}}</b></p>
                <p><b><i class="icon ion-trophy" style="padding-right:10px;font-size:18px"></i>{{ch_nome}}</b></p>
                <p><b><i class="icon ion-ribbon-b" style="padding-right:10px;font-size:18px"></i>Rodada: {{rd_round}}</b></p>
            </div>



    </ion-content>
</ion-view>


<!--<ion-view view-title="Details">      
    <div class="bar bar-subheader sub_head">
      <div class="row">
         <div class="col"  ng-click="active_icon('fav')" ng-class="{'animated zoomIn color_btn':coloractive_fav}">
           <i class="ion-heart"></i>
         </div>
         <div class="col" ng-click="active_icon('mark')" ng-class="{'animated zoomIn color_btn':coloractive_mark}">
           <i class="ion-bookmark"></i>
         </div>
         <div class="col" ng-click="active_icon('font')" ng-class="{'animated zoomIn color_btn':coloractive_font}">
           <p>Aa</p>
         </div>
         <div class="col"  ng-click="active_icon('share')" ng-class="{'animated zoomIn color_btn':coloractive_share}">
           <i class="ion-android-share-alt"></i>
         </div>
        </div>
    </div>  
         
  <ion-content class="detail_page padding has-subheader">
  <div class="det_cont">
   <div class="det_img">
    <img src="img/det.png"/>
   </div>
    <div class="det_header">
        <h3>FEATURED<span>Associated press</span></h3>
        <p>14 powerful photos that will change how you think about the world today </p>
        <span class="by">By Sophie Eastaugh, for life news</span>
        <span class="last_update">Updated 1459 GMT (2159 HKT) October 19, 2015 </span>
    </div> 
    <div class="det_content">
        <p>
        The world's leaders meet Friday at the United Nations Global Assembly 
        in New York to sign the Sustainable Development Goals,
        an ambitious set of 15-year targets for tackling global poverty, inequality and injustice.
        </p>
        
        <p>
        World-famous photographers from countries including Nigeria,
        South Africa and Brazil have captured startling images of inequality -- to support 
        </p>
        
        <p class="note">
         Go through the gallery to see the images and read what the photographers told Action 2015
         about what equality means to them and the power of imagery to inspire action.
        </p>
        
        <p>
        Listen to esteemed Nigerian photographer George 
        Osodi explain his photo essay "Trading Places," representing the inequality of his beloved Lagos.
        </p>
        
    </div>
   </div> 
  </ion-content>
  </ion-view>-->

