<ion-view view-title="Caixa" cache-view="false" ng-controller="CaixaCtrl">


        <ion-nav-bar class="bar-stable" align-title="left">
            <ion-nav-buttons side="right">
                <div class="" style="text-align:right; width: 100%; margin-top:10px !important; margin-right:10px">
                    <i class="ion-close-round" style="color:#fff !important; font-size:25px; margin-top:-20px !important" ng-click="closeModal()"></i>
                </div>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>


    <div class="bar bar-subheader sub_head" style="text-align:center">
        <div class="" style="font-size:18px;text-align:center; width: 100%; margin-top:10px !important; margin-right:10px">
            Criar o bolão
        </div>
    </div>

    <ion-content class="has-subheader activity_page">
        <div>
            <div style="height:125px">
                <a class="activity_list">
                    Ao criar um bolão, você pode escolher se os participantes  
                    deverão ou não pagar um ingresso. 
                    <br /><br />
                    Você pode ainda escolher o valor do ingresso e quanto será destinado a cada ganhador.
                    <br /><br />
                    Além disso, o fundador do bolão ficará com 10% do valor arrecadado.                    
                    <br /><br />
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
