<ion-view view-title="Caixa" cache-view="false" ng-controller="CaixaCtrl">


        <ion-nav-bar class="bar-stable" align-title="left">
            <ion-nav-buttons side="right">
                <div class="" style="text-align:right; width: 100%; margin-top:10px !important; margin-right:10px">
                    <i class="ion-close-round" style="color:#fff !important; font-size:25px; margin-top:-20px !important" ng-click="closeModal()"></i>
                </div>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>


    <div class="bar bar-subheader sub_head" style="text-align:center">
        <div class="" style="font-size:18px;text-align:center; width: 100%; margin-top:10px !important; margin-right:10px">
            Informação Importante
        </div>
    </div>

    <ion-content class="has-subheader activity_page">
        <div>
            <div style="background-color:rgba(250,250,250,0.70); padding: 15px 15px 15px 15px; font-size:15px;margin-top:10px">
                <!--<ion-item>
            <span ng-click="infoporcentagens()"><i style="font-size:17px" class="ion-help-circled"> Info </i></span>
        </ion-item>-->

                <ion-item>
                    <i class="icon ion-ios-football"> Palpite jogo: R$ {{campeonato.ch_dpalpite}}</i>
                    <p><span style="color:green">Custo de palpitar no jogo.</span></p>
                    <p>Acumulado: R$ {{mt_acumulado}}</p>
                    <p><span style="color:green">Quem acerta o palpite ganha <br />o valor acumulado dos palpites<br /> do jogo.</span></p>
                </ion-item>

                <ion-item>
                    <i class="icon ion-trophy"> {{ch_nome}}</i>
                    <p>Acumulado: R$ {{campeonato.ch_acumulado}}</p>
                    <p><span style="color:green">Quem acertas mais palpites<br />ganha o acumulado do campeonato.</span></p>
                </ion-item>

                <ion-item>
                    <i class="icon ion-ribbon-b"> Rodada: {{rd_round}}</i>
                    <p>Acumulado: R$ {{campeonato.rd_acumulado}}</p>
                    <p><span style="color:green">Quem acertas mais palpites da rodada<br />ganha o acumulado.</span></p>
                </ion-item>
            </div>
        </div>
    </ion-content>
</ion-view>
