<ion-view view-title="Jogos" cache-view="false" ng-controller="JogosTimeCtrl">
  

    <div class="bar bar-subheader sub_head" style="text-align:center !important">
        <div style="text-align:center;width:100%">
            <div style="text-align:center;width:100%">{{jogosTime.ch_nome}}</div>
            <div style="text-align:center;width:100%">{{jogosTime.team}}</div>
        </div>
    </div>

    <ion-content class="has-subheader activity_page" style="padding: 0px 0px 0px 0px;margin-top:-45px !important">
        <div ng-switch on="activitytab" style="margin-top:28px">
            <div>
                <div style="height:120px" ng-switch-when="1" ng-repeat="palpite in jogosTime.jogos" href="#/app/detail/" ng-click="setPalpite(palpite)">
                    <a class="activity_list">
                        <div class="row main_row" style="height:30px !important">
                            <div class="col col-20">
                            </div>
                            <div class="col col-60" style="text-align:center;"><b style="color:blue">{{palpite.mt_date_new}}</b></div>
                            <div class="col col-20">
                            </div>
                        </div>


                        <div class="row" ng-click="editarpalpite(palpite)">
                            <div class="col col-30" style="text-align:right">{{palpite.t1nome}}</div>
                            <div class="col col-10"><img width="30" height="30" src="http://www.bolaocraquedebola.com.br{{palpite.tm1_logo}}" /></div>
                            <div class="col col-10" style="text-align:center;font-size:20px"><b>{{palpite.rs_res1}}</b></div>
                            <div class="col col-10" style="text-align:center;font-size:20px"><b>{{palpite.rs_res2}}</b></div>
                            <div class="col col-10"><img width="30" height="30" src="http://www.bolaocraquedebola.com.br{{palpite.tm2_logo}}" /></div>
                            <div class="col col-30">{{palpite.t2nome}}</div>

                        </div>
                        <div class="row" style="font-size:18px;background-color: rgb(2, 110, 211);padding: 0px 0px 0px 0px">
                            <div class="col col-20" style="text-align:center">
                                <ng:switch on="{{palpite.resultado_marcado}} && {{palpite.no_encerrado}}">
                                        <div ng:switch-when="true">
                                            <i ng-click="apagar(palpite.rs_id)" class="ion-trash-b" style="color:#fff"></i>
                                        </div>
                                    </ng:switch>
                                <ng:switch on="{{palpite.no_encerrado}} == false">
                                    <div ng:switch-when="true">
                                        <span class="badge badge-assertive" style="{{palpite.color}};margin-left:-10px;position:absolute;padding: 1px 5px;font-size:10px">{{palpite.mt_goal1}}</span>
                                        <span class="badge badge-assertive" style="{{palpite.color}};margin-left:10px;position:absolute;padding: 1px 5px;font-size:10px">{{palpite.mt_goal2}}</span>
                                    </div>
                                </ng:switch>
                            </div>

                            <div class="col col-20" style="text-align:center" ng-click="ranking_rodada(palpite.mt_idchampionship, palpite.mt_idround)"><i class="ion-ribbon-b" style="color:#fff"></i></div>
                            <div class="col col-20" style="text-align:center" ng-click="palpitesjogo(palpite.mt_id)"><i class="ion-ios-football" style="color:#fff"></i></div>
                            <div class="col col-30" style="font-size:15px;color:#fff;text-align:center">0.00</div>
                        </div>
                    </a>
                </div>
                <div ng-switch-when="2">
                    <div style="height:32px" ng-repeat="team in bolao.teams" href="#/app/detail/" ng-click="jogos_do_time(team,bolao.championship.ch_id)">
                        <a class="activity_list">
                            <div class="row main_row" style="height:30px !important">
                                <div class="col col-20" style="margin-top:-5px"><img width="20" height="20" src="http://www.bolaocraquedebola.com.br{{team.tm_logo}}" /></div>
                                <div class="col col-40">{{team.tm_name}}</div>
                                <div class="col col-20">{{team.tm_played}}</div>
                                <div class="col col-20">{{team.tm_points}}</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>

</ion-view>
