<ion-view view-title="Palpites" cache-view="false" ng-controller="ListaJogosRodadaCtrl">
  
    <div class="bar bar-subheader sub_head" style="height:85px">
        <div style="text-align:center;width:100%">
            <div style="text-align:center;width:100%">{{bolao.championship.ch_nome}}</div>
            <div style="text-align:center;width:100%">
                Rodada: <select ng-model="bolao.rodada_sel" ng-options="rodada.rd_round for rodada in bolao.rondas" ng-change="trocarrodada(bolao.rodada_sel)"></select>
            </div>
            <div class="row">
                <div class="col" ng-click="activitytab=1" ng-class="{'color_border':activitytab==1}">
                    <p>Palpites</p>
                </div>
                <div class="col" ng-click="activitytab=2" ng-class="{'color_border':activitytab==2}">
                    <p>Tabela</p>
                </div>
            </div>
        </div>

    </div>
  <ion-content class="has-subheader activity_page">
      <div ng-switch on="activitytab" style="margin-top:28px">
          <div>
              <div style="height:120px" ng-switch-when="1" ng-repeat="palpite in bolao.rodada" href="#/app/detail/" ng-click="setPalpite(palpite)">
                  <a class="activity_list">
                      <div class="row main_row" style="height:30px !important">
                          <div class="col col-20">
                          </div>
                          <div class="col col-60" style="text-align:center;"><b style="color:blue">{{palpite.mt_date}}</b></div>
                          <div class="col col-20">
                          </div>
                      </div>


                      <div class="row" ng-click="editarpalpite(palpite)">
                          <div class="col col-30" style="text-align:right">{{palpite.t1nome}}</div>
                          <div class="col col-10"><img width="30" height="30" src="http://www.bolaocraquedebola.com.br{{palpite.tm1_logo}}" /></div>
                          <div class="col col-10" style="text-align:center;font-size:20px"><b>{{palpite.rs_res1}}</b></div>
                          <div class="col col-10" style="text-align:center;font-size:20px"><b>{{palpite.rs_res2}}</b></div>
                          <div class="col col-10"><img width="30" height="30" src="http://www.bolaocraquedebola.com.br{{palpite.tm2_logo}}" /></div>
                          <div class="col col-30">{{palpite.t2nome}}</div>

                      </div>
                      <div class="row" style="font-size:18px;background-color: rgb(2, 110, 211);padding: 0px 0px 0px 0px">
                          <div class="col col-20" style="text-align:center">
                              <ng:switch on="{{palpite.pode_apagar}}">
                                  <div ng:switch-when="true">
                                      <i ng-click="apagar(palpite.rs_id)" class="ion-trash-b" style="color:#fff"></i>
                                  </div>
                              </ng:switch>
                          </div>

                          <div class="col col-20" style="text-align:center" ng-click="rankingrodada(palpite.mt_round)"><i class="ion-ribbon-b" style="color:#fff"></i></div>
                          <div class="col col-20" style="text-align:center" ng-click="palpitesjogo(palpite.mt_id)"><i class="ion-ios-football" style="color:#fff"></i></div>
                          <div class="col col-30" style="font-size:15px;color:#fff;text-align:center">0.00</div>
                      </div>
                  </a>
              </div>
              <div ng-switch-when="2">
                  <div style="height:32px" ng-repeat="team in bolao.teams" href="#/app/detail/" ng-click="jogos_do_time(team,bolao.championship.ch_id)">
                      <a class="activity_list">
                          <div class="row main_row" style="height:30px !important">
                              <div class="col col-20" style="margin-top:-5px"><img width="20" height="20" src="http://www.bolaocraquedebola.com.br{{team.tm_logo}}" /></div>
                              <div class="col col-40" >{{team.tm_name}}</div>
                              <div class="col col-20">{{team.tm_played}}</div>
                              <div class="col col-20">{{team.tm_points}}</div>
                          </div>
                      </a>
                  </div>
              </div>
          </div>
          </div>
</ion-content>
</ion-view>
