<ion-view view-title="Palpites" cache-view="false" ng-controller="PalpitesCtrl">
  
    <div class="bar bar-subheader sub_head">
        <div class="row">

            
            <div class="col" ng-click="activitytab=1" ng-class="{'color_border':activitytab==1}">
                <p>Palpitar</p>
            </div>

         <!-- <div class="col"  ng-click="activitytab=2" ng-class="{'color_border':activitytab==2}">
            <p><i class="ion-ios-football"></i></p>
          </div>-->
            <div class="col" ng-click="activitytab=4" ng-class="{'color_border':activitytab==4}">
                <p>Noticias</p>
            </div>
          <!--<div class="col" ng-click="goto('/app/profile')">
            <p>Campeonatos</p>
          </div>-->
          <!--<div class="col col-10"  ng-click="goto('/app/add_post')">
             <i class="ion-plus"></i>
          </div>-->
        </div>
    </div>
  <ion-content class="has-subheader activity_page">
      <div ng-switch on="activitytab">
          <div ng-switch-when="5">
              <ion-list>
                  <ion-item ng-repeat="palpite in palpites" ng-click="setPalpite(palpite)" style="font-size:12px !important;padding: 0px !important">
                      <div class="row main_row" style="height:30px !important">
                          <div class="col col-20" style="font-size:12px !important; color:green">{{palpite.palpitado}}</div>
                          <div class="col col-60" style="text-align:center;"><b style="color:blue">{{palpite.mt_date}}</b></div>
                          <div class="col col-20">
                          </div>
                      </div>
                      <div class="row main_row" style="height:30px !important">
                          <div class="col" style="text-align:center;">{{palpite.ch_nome}}</div>
                      </div>
                      <div class="row main_row" style="height:30px !important">
                          <div class="col col-50">
                              <span class="badge badge-{{palpite.badget}}" style="font-weight:normal !important">{{palpite.estado}}</span>
                              <div class="activ_image" style="float:right;width:20%;height:30px;background:url(http://www.bolaocraquedebola.com.br/{{palpite.tm1_logo}})no-repeat;
                                    background-size:100% 100%;">
                              </div>
                          </div>
                          <div class="col col-50">
                              <div class="activ_image" style="width:20%;height:30px;background:url(http://www.bolaocraquedebola.com.br/{{palpite.tm2_logo}})no-repeat;
                                    background-size:100% 100%;">
                              </div>
                          </div>
                      </div>
                      <div class="row main_row" style="height:30px !important">
                          <div class="col col-10">
                          </div>
                          <div class="col col-80" style="text-align:center;"><b>{{palpite.t1nome}} vs {{palpite.t2nome}}</b></div>
                          <div class="col col-10">
                          </div>
                      </div>

                  </ion-item>
              </ion-list>
              <ion-infinite-scroll on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>

          </div>
          <!--<div class="col col-33">
            <div class="activ_image" style="background:url(http://localhost/penca{{palpite.tm1_logo}})no-repeat;
        background-size:100% 100%;"></div>
        </div>
        <div class="col col-67">
            <h3>{{palpite.ch_nome}}</h3>
            <P>{{palpite.mt_date}}</P>
            <p class="parag">
                {{palpite.t1nome}} vs {{palpite.t2nome}}
            </p>
        </div>-->
          <!--<a href="#/a
        pp/detail" class="activity_list"
        collection-repeat="item in activity"
        collection-item-width="'100%'"
        collection-item-height="170"
        >
        <div class="row main_row">
            <div class="col col-33">
                <div class="activ_image" style="background:url({{item.img}})no-repeat;
                background-size:100% 100%;"></div>
            </div>
            <div class="col col-67">
                <h3>{{item.title}}</h3>
                <P>acteur de génie</P>
                <p class="parag">
                    is a creative studio based in Kuwait, specializing in advertising,
                    marketing, design, and content creation.
                </p>
            </div>
        </div>
        <div class="row sec_row">
          <div class="col col-33">
             <img src="img/l4.png"/>
             <span>Firas Said</span>
          </div>
          <div class="col col-25">
             <p><i class="ion-eye"></i>1235</p>
          </div>
           <div class="col col-20">
             <p><i class="ion-thumbsup"></i>2455</p>
          </div>
           <div class="col col-20">
             <p><i class="ion-chatbubble"></i>865</p>
          </div>
        </div>
        </a>-->


          <div class="people_follow" ng-switch-when="2">
              <ion-list>
                  <ion-item ng-repeat="campeonato in campeonatos" ng-click="meuspalpitescampeonato(campeonato.ch_id)">
                      <ion-avatar item-left>
                          <img style="width:20px;height:20px" src="http://www.bolaocraquedebola.com.br/{{campeonato.ch_logocampeonato}}">
                      </ion-avatar>
                      {{campeonato.ch_nome}}
                      <p>Acumulado: R${{campeonato.ch_acumulado}}  Palpite: R${{campeonato.ch_dpalpite}}</p>
                      <ng:switch on="{{campeonato.ch_ativo}} == 0">
                          <div ng:switch-when="true">
                              <span class="badge badge-assertive" style="{{palpite.color}};margin-left:-10px;position:absolute;padding: 1px 5px;font-size:10px">Encerrado</span>
                          </div>
                      </ng:switch>
                  </ion-item>
              </ion-list>
          </div>
          <div ng-switch-when="3">
              <ion-list>
                  <ion-item ng-repeat="campeonato in campeonatos" ng-click="palpitarcampeonato(campeonato)">
                      <ion-avatar item-left>
                          <img style="width:20px;height:20px" src="http://www.bolaocraquedebola.com.br/{{campeonato.ch_logocampeonato}}">
                      </ion-avatar>
                      {{campeonato.ch_nome}}
                      <ng:switch on="{{campeonato.ch_ativo}} == 0">
                          <div ng:switch-when="true">
                              <span class="badge badge-assertive" style="{{palpite.color}};margin-left:-10px;position:absolute;padding: 1px 5px;font-size:10px">Encerrado</span>
                          </div>
                      </ng:switch>
                  </ion-item>
              </ion-list>
          </div>
          <div ng-switch-when="4">
              <ion-card-content ng-repeat="noticia in noticias" >
                  <div ng-click="linknoticia(noticia.link._href)" class="row col col-100" style="background:white;border-width:1px;border-color:#ddd;border-style:solid">
                      <div class="row">
                          <span style="color:blue;font-size:12px">{{noticia.published}}</span>
                      </div>
                      <div class="row">                          
                          <p class="parag">{{noticia.title.__text}}</p>
                      </div>      
                      <ng:switch on="{{noticia.completa}} == true">
                          <div ng:switch-when="true">
                              <div class="row">
                                  <p class="parag" ng-bind-html="noticia.noticia"></p>
                              </div>                              
                          </div>
                          </ng:switch>
                    </div>
              </ion-card-content>
        </div>
          <div ng-switch-when="1">
              <div style="text-align:center;width:100%;background-color: rgb(59, 142, 194);">
                  <select ng-model="campeonato.palpite" style="font-size:  14px;height:  29px;padding: 5px;width:  268px;background-color: #3b8ec2; margin-top: 10px;" ng-options="campeonato.ch_nome for campeonato in campeonatos" ng-change="trocarcampeonatopalpite(campeonato)"></select>
              </div>
              <div style="text-align:center;width:100%;background-color: rgb(59, 142, 194);">
                  Rodada: <select ng-model="ronda" style="font-size: 14px; height: 29px; padding: 5px; width: 168px; background-color: rgb(59, 142, 194); margin-top: 10px; margin-bottom:10px" ng-options="ronda.rd_round for ronda in rondas" ng-change="trocarcampeonatopalpitecomrodada(ronda.rd_id)"></select>
              </div>
              <ion-list>
                  <ion-item ng-repeat="palpite in rodadacampeonato" style="margin: 5px; font-size:12px !important;padding: 0px !important" /*ng-click="setPalpite(palpite)"*/>
                  
                   <div class="row main_row" style="height:30px !important">
                          <div class="col col-20" style="font-size:12px !important; color:green">{{palpite.palpitado}}</div>
                          <div class="col col-60" style="text-align:center;"><b style="color:blue">{{palpite.mt_date}}</b></div>
                          <div class="col col-20">
                          </div>
                      </div>
                      <div class="row main_row" style="height:30px !important">
                          <div class="col col-25">
                              <ng:switch on="{{palpite.no_encerrado}}">
                                  <div ng:switch-when="true">
                                      <label class="item item-input" style="margin-bottom:10px;padding-bottom: 0px !important; padding-top:0px !important">
                                          <input type="number" ng-value="palpite.rs_res1" placeholder="" name="palpite.rs_res1" ng-model="palpite.rs_res1">
                                      </label>
                                  </div>
                                  <div ng:switch-when="false">
                                      <label class="item item-input" style="margin-bottom:10px;padding-bottom: 0px !important; padding-top:0px !important">
                                          <input type="number" ng-value="palpite.rs_res1" disabled="disabled" name="palpite.rs_res1" ng-model="palpite.rs_res1">
                                      </label>
                                  </div>
                              </ng:switch>

                          </div>
                          <div class="col col-25">
                              <div class="activ_image" style="float:right;width:50%;height:30px;background:url(http://www.bolaocraquedebola.com.br/{{palpite.tm1_logo}})no-repeat;
                                    background-size:100% 100%;">
                              </div>
                            </div>
                            <div class="col col-25">
                                <div class="activ_image" style=";width:50%;height:30px;background:url(http://www.bolaocraquedebola.com.br/{{palpite.tm2_logo}})no-repeat;
                                background-size:100% 100%;">
                                </div>
                            </div>
                          <div class="col col-25">
                              <ng:switch on="{{palpite.no_encerrado}}">
                                  <div ng:switch-when="true">
                                      <label class="item item-input" style="margin-bottom:10px;padding-bottom: 0px !important; padding-top:0px !important">
                                          <input type="number" ng-value="palpite.rs_res2" placeholder="" name="palpite.rs_res2" ng-model="palpite.rs_res2">
                                      </label>
                                  </div>
                                  <div ng:switch-when="false">
                                      <label class="item item-input" style="margin-bottom:10px;padding-bottom: 0px !important; padding-top:0px !important">
                                          <input type="number" ng-value="palpite.rs_res2" disabled="disabled" name="palpite.rs_res2" ng-model="palpite.rs_res2">
                                      </label>
                                  </div>
                                </ng:switch>
                           </div>
                        </div>
                      <div class="row main_row" style="height:30px !important">
                          <div class="col col-10">
                          </div>
                          <div class="col col-80" style="text-align:center;"><b>{{palpite.t1nome}} vs {{palpite.t2nome}}</b></div>
                          <div class="col col-10">
                          </div>
                      </div>
                      <div class="row main_row" style="height:30px !important; background-color:#3b8ec2">
                          <div class="col col-30">
                              <ng:switch on="{{palpite.mt_played}}">
                                  <div ng:switch-when="1">
                                      <span class="item-bold text text-ios text-ios-secondary" color="secondary" ion-text="" item-start="">{{palpite.mt_goal1}} - {{palpite.mt_goal2}}</span>
                                  </div>
                                  <div ng:switch-when="0">
                                      <span class="item-bold text text-ios text-ios-secondary" color="secondary" ion-text="" item-start=""></span>
                                  </div>
                              </ng:switch>


                          </div>
                          <div class="col col-30" style="text-align:center;"></div>
                          <div class="col col-30">
                              <ng:switch on="{{palpite.no_encerrado}}">
                                  <div ng:switch-when="true">
                                      <div></div>
                                  </div>
                                  <div ng:switch-when="false">
                                      <div>Encerrado</div>
                                  </div>
                              </ng:switch>
                          </div>
                      </div>
                  </ion-item>
              </ion-list>
              <div style="padding-top:20px" ng-show="flashinicio">
                          <input type="submit" style="margin-top:-10px;margin-bottom:10px" href="#" class="button button-block main_btn" value="Palpitar" ng-click="realizar_palpites()" />

              </div>
              </div>
      </div>
   
  </ion-content>
</ion-view>
