<ion-view view-title="Meu Perfil" cache-view="false" ng-controller="MeuPerfilCtrl">
  
    <div class="bar bar-subheader sub_head">
        <div class="row">
          <div class="col"  ng-click="activitytab=1" ng-class="{'color_border':activitytab==1}">
            <p>Dados pessoais</p>
          </div>
          <div class="col"  ng-click="activitytab=2" ng-class="{'color_border':activitytab==2}">
            <p>Palpites</p>
          </div>
          <!--<div class="col" ng-click="goto('/app/profile')">
            <p>Campeonatos</p>
          </div>-->
          <!--<div class="col col-10"  ng-click="goto('/app/add_post')">
             <i class="ion-plus"></i>
          </div>-->
        </div>
    </div>
  <ion-content class="has-subheader activity_page">
      <div ng-switch on="activitytab">
          <div class="people_follow" ng-switch-when="1">
              <ion-list>
                  <ion-item ng-repeat="campeonato in emandamento" ng-click="palpitarcampeonato(campeonato.ch_id)">
                      {{campeonato.ch_nome}}
                      <p>Acumulado: R${{campeonato.ch_acumulado}}  Palpite: R${{campeonato.ch_dpalpite}}</p>
                      <ng:switch on="{{campeonato.ch_ativo}} == 0">
                          <div ng:switch-when="true">
                              <span class="badge badge-assertive" style="{{palpite.color}};margin-left:-10px;position:absolute;padding: 1px 5px;font-size:10px">Encerrado</span>
                          </div>
                      </ng:switch>
                  </ion-item>
              </ion-list>
          </div>
          <div ng-switch-when="2">
              <ion-list>
                  <ion-item>
                      <i class="ion-ribbon-a" item-left></i>
                      Pontos: {{resultados.pontos}}
                </ion-item>                  
                  <ion-item>
                      <i class="ion-ios-football" item-left></i>
                      Palpitados: {{resultados.palpitados}}
                  </ion-item>
                  <ion-item>
                      <i class="ion-cash" item-left></i>
                      Palpites acertados: {{resultados.acertos}}
                  </ion-item>
                  <ion-item>
                      <i class="ion-sad-outline" item-left></i>                      
                      Palpites errados: {{resultados.erros}}
                  </ion-item>                  
              </ion-list>
          </div>
      </div>
</ion-content>
</ion-view>
