<ion-view view-title="Meu Perfil" cache-view="false" ng-controller="MeuPerfilCtrl">
  
    <div class="bar bar-subheader sub_head">
        <div class="row">
          <div class="col"  ng-click="activitytab=1" ng-class="{'color_border':activitytab==1}">
            <p>Dados pessoais</p>
          </div>
          <div class="col"  ng-click="activitytab=2" ng-class="{'color_border':activitytab==2}">
            <p>Palpites</p>
          </div>
        </div>
    </div>
  <ion-content class="register_page">
      <div ng-switch on="activitytab">
          <div class="people_follow" ng-switch-when="1">
              <div>
                  <div class="row">
                      <div class="col col-100">
                          <div class="col-demo" style="text-align:center;color:red;padding-top:30px">{{error}}</div>
                      </div>
                  </div>

                  <form class="reg_form log_form" ng-submit="trocarsenha(u)">
                      <div class="list">
                          <label class="item item-input">
                              <i class="icon ion-person" style="width:30px"></i>
                              <input type="text" ng-model="user" disabled>
                          </label>
                          <label class="item item-input">
                              <i class="icon ion-social-usd" style="width:30px"></i>
                              <input type="text" ng-model="cash" disabled>
                          </label>
                          <label class="item item-input">
                              <input type="password" ng-model="u.atualsenha" placeholder="Senha">
                          </label>
                          <label class="item item-input">
                              <input type="password" ng-model="u.newpass" placeholder="Nova senha">
                          </label>
                          <label class="item item-input">
                              <input type="password" ng-model="u.confirmpass" placeholder="Repetir senha">
                          </label>

                          <input type="submit" name="submit" class="button button-block" id="submit" value="Aceitar" />

                      </div>
                  </form>

                  <form class="reg_form log_form" ng-submit="trocargrito(grito)">
                      <div class="list">
                          <label class="item item-input">
                              <input type="text" ng-model="grito" placeholder="Grito de Guerra" maxlength="100">
                          </label>

                          <input type="submit" name="submit" class="button button-block" id="submit" value="Aceitar" />

                      </div>
                  </form>
              </div>
          </div>
          <div ng-switch-when="2">
              <ion-list>
                  <div style="padding-top:40px">
                      <ion-item>
                          <i class="ion-ribbon-a" item-left></i>
                          Pontos: {{resultados.pontos}}
                      </ion-item>
                      <ion-item>
                          <i class="ion-ios-football" item-left></i>
                          Palpitados: {{resultados.palpitados}}
                      </ion-item>
                      <ion-item>
                          <i class="ion-cash" item-left></i>
                          Palpites acertados: {{resultados.acertos}} - {{((resultados.acertos * 100)/resultados.palpitados) | number: 2}}%
                      </ion-item>
                      <ion-item>
                          <i class="ion-sad-outline" item-left></i>
                          Palpites errados: {{resultados.erros}} - {{((resultados.erros * 100)/resultados.palpitados) | number: 2}}%
                      </ion-item>
                  </div>
              </ion-list>
          </div>
      </div>
</ion-content>
</ion-view>
