<ion-view view-title="Meus Palpites" ng-controller="MeusPalpitesCtrl">

    <div class="bar bar-subheader sub_head">
        <center>{{champ_nome}}</center>
        <center>Rodada: {{n_rodada_nome}}</center>

        <center>
            <select ng-change="selecionarRodada()" ng-init="selectedItem = items[0]" ng-model="selectedItem" ng-options="item as item.name for item in items"></select>
            <pre>{{selectedItem | json}}</pre>
        </center>
    </div>
    


        <ion-content class="detail_page padding has-subheader" style="padding: 0px 0px 0px 0px">
            <div style="height:125px" ng-repeat="palpite in palpites" href="#/app/detail/" ng-click="setPalpite(palpite)">
                <a class="activity_list">
                    <div class="row main_row" style="height:30px !important">
                        <div class="col col-20">
                        </div>
                        <div class="col col-60" style="text-align:center;"><b style="color:blue">{{palpite.mt_date}}</b></div>
                        <div class="col col-20">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col col-30" style="text-align:right">{{palpite.t1nome}}</div>
                        <div class="col col-10"><img width="30" height="30" src="http://localhost/penca{{palpite.tm1_logo}}" /></div>
                        <div class="col col-10" style="text-align:center;font-size:20px">{{palpite.rs_res1}}</div>
                        <div class="col col-10" style="text-align:center;font-size:20px">{{palpite.rs_res2}}</div>
                        <div class="col col-10"><img width="30" height="30" src="http://localhost/penca{{palpite.tm2_logo}}" /></div>
                        <div class="col col-30">{{palpite.t2nome}}</div>
                    </div>


                    
                </a>
            </div>





         

        </ion-content>
</ion-view>