<ion-view view-title="Ranking" cache-view="false" ng-controller="RankingCtrl">

    <div class="bar bar-subheader sub_head" style="text-align:center">
        <div style="text-align:center;width:100%">
            <div style="text-align:center;width:100%">Ranking</div>
            <div style="text-align:center;width:100%">{{ch_nome}}</div>
        </div>
    </div>

    <ion-content class="has-subheader activity_page">
        <div class="people_follow">
            <ion-list>
                <ion-item ng-repeat="ranking in rankings" ng-click="verusuario(ranking.us_id, ranking.us_username)" style="border-style:none !important">
                    <div class="row" style="padding: 0px 0px 0px 0px; height: 40px">
                        <div class="col">
                            <div class="col-demo"><b>{{ranking.i}}</b></div>
                        </div>
                        <div class="col">
                            <div style="width:30px;height:30px">
                                <div class="col-demo"><img width="30" height="30" src="http://www.bolaocraquedebola.com.br/assets/img/usuarios/user2.png" /></div>
                            </div>
                        </div>
                        <div class="col col-75">
                            <div class="col-demo">{{ranking.us_username}}</div>
                        </div>
                        <div class="col">
                            <div class="col-demo">{{ranking.points}}</div>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>


</ion-view>