<ion-view view-title="Transacoes" cache-view="false" ng-controller="TransacoesCtrl">
  
    <div class="bar bar-subheader sub_head">
        <div class="row">
            <div class="col" ng-click="activitytab=1" ng-class="{'color_border':activitytab==1}">
                <p>Transacoes</p>
            </div>
            <div class="col" ng-click="activitytab=2" ng-class="{'color_border':activitytab==2}">
                <p>Ranking</p>
            </div>
        </div>
    </div>

  <ion-content class="has-subheader activity_page">
        <div ng-switch on="activitytab" >            
            <div  class="people_follow" ng-switch-when="1" >
                <ion-list>
                    <ion-item ng-repeat="campeonato in campeonatos" ng-click="transacoescampeonato(campeonato.ch_id)">
                        {{campeonato.ch_nome}}
                        <p>Acumulado: R${{campeonato.ch_acumulado}}  Palpite: R${{campeonato.ch_dpalpite}}</p>
                    </ion-item>
                </ion-list>

                </div>
            

      <div class="people_follow" ng-switch-when="2">
          
          <ion-list>
              <ion-item ng-repeat="r in ranking">
                  {{r.ch_nome}} <span class="item-note">{{r.points}}</span>
                  <p>Posicao: {{r.position}}</p>
              </ion-item>
          </ion-list>
      </div>
      </div> 
  </ion-content>
</ion-view>
